<!-- <div id="filters" class="bg-white p-4 shadow rounded flex" style="
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin: 10px auto;
    justify-content: space-between;
">
      

      <div class="mb-4">
        
        <select id="category" class="mt-1 p-2 border rounded w-full">
          <option value="all">All Categories</option>
          <option value="clothing">Clothing</option>
          <option value="electronics">Electronics</option>
          <option value="accessories">Accessories</option>
        </select>
      </div>

      <div class="mb-4">
        
      </div>

      <div class="mb-4">
        
        <select id="category" class="mt-1 p-2 border rounded w-full">
          <option value="all">All Servers</option>
          <option value="clothing">Clothing</option>
          <option value="electronics">Electronics</option>
          <option value="accessories">Accessories</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="priceRange" class="block text-sm font-medium text-gray-700">Price Range:</label>
        <input type="range" id="priceRange" class="mt-1 w-full" min="0" max="100" step="1" value="50">
        
      </div>

      <button id="applyFilters" class="bg-blue-500 text-white px-4 py-2 rounded">Apply Filters</button>
    </div> -->

<div
  id="filters"
  class="bg-white p-4 shadow rounded flex"
  style="
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin: 10px auto;
    justify-content: flex-start;
  "
>
  <!-- Category Filter -->
  <div class="">
    <div
      id="category"
      class="mt-1 p-2 border-yellow-500 border-2 rounded w-full px-6"
    >
      <option value="all">All</option>
    </div>
  </div>

  <div class="">
    <div id="category" class="mt-1 p-2 border rounded w-full px-6">
      <option value="all">Grillz</option>
    </div>
  </div>
  <div class="">
    <div id="category" class="mt-1 p-2 border rounded w-full px-6">
      <option value="all">Bar</option>
    </div>
  </div>
  <div class="">
    <div id="category" class="mt-1 p-2 border rounded w-full px-6">
      <option value="all">Kitchen</option>
    </div>
  </div>
  <!-- Price Range Filter -->
</div>
