  
    <!-- DataTables CSS and JS CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function () {
            $('.smart_table').DataTable({
                "pageLength": 25,
                "order": [[3, 'desc']]
            });
              // Add click event to the entire table row
              $('tbody tr').css({"cursor": "pointer"})
              $('tbody tr').click(function () {
                // Get the URL from the 'data-href' attribute
                const url = $(this).data('href');
                if(url !== undefined){
                    window.location.href = url;
                }
            });
        });
    </script>



</body>
</html>
