<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <!-- DataTable CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="    https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css
      "
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css
      "
    />

    <!-- Data table for Staff table -->

    <script src="    https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="    https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="    https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="    https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="    https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>
    Kardelexx Lounge

    </title>
  </head>

  <body>
    <style>
      .admin-only{
        /* display: none; */
      }
    </style>
