<div
  class="h-[100vh] w-[15%] bg-slate-50 text-[gray-100] shadow-sm overflow-y-scroll fixed top-0 left-0 z-30 scrollbar-hide"
>
  <!-- Your existing code here -->

  <div
    class="w-full flex items-center cursor-pointer transition duration-200 p-4 border-b"
  >
    <a href="/app" class="w-full flex items-center">
      <h5 class="hidden lg:block pl-2 text-[24px] font-semibold">Kardelexx Lounge</h5>
    </a>
  </div>

  <div
    class="w-full flex items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4 border-b"
  >
    <a href="/app" class="w-full flex items-center">
      <i class="fa-solid fa-chart-line text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">Dashboard</h5>
    </a>
  </div>

  <!-- Your existing code here -->

  <div
    class="w-full admin-only flex items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4 border-b"
  >
    <a href="/app/staffs" class="w-full flex items-center">
      <i class="fa-solid fa-users-gear text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">Staffs</h5>
    </a>
  </div>

  <!-- Your existing code here -->

  <div
    class="w-full flex admin-only items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4"
  >
    <a href="/app/addStaff" class="w-full flex items-center">
      <i class="fa-solid fa-user-plus text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">Create Staff</h5>
    </a>
  </div>

  <!-- Your existing code here -->

  <div
    class="w-full flex admin-only items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4"
  >
    <a href="/app/addProduct" class="w-full flex items-center">
      <i class="fa-solid fa-plus text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">
        Create Product
      </h5>
    </a>
  </div>

  <!-- Your existing code here -->

  <div
    class="w-full flex admin-only items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4"
  >
    <a href="/app/products" class="w-full flex items-center">
      <i class="fa-solid fa-pizza-slice text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">All Product</h5>
    </a>
  </div>

  <!-- Your existing code here -->

  <div
    class="w-full flex items-center opacity-80 text-gray-700 hover:bg-slate-100 cursor-pointer transition duration-200 p-4"
  >
    <a href="/app/sales" class="w-full flex items-center">
      <i class="fa-solid fa-money-bill-trend-up text-xl"></i>
      <h5 class="hidden lg:block pl-2 text-[15px] font-normal">Sales</h5>
    </a>
  </div>
</div>
